<tr id="spec-<%= spec.id %>" >  
  <td><%= spec.bh %></td>
  <td style="background-color: <%= spec.color.value %>"></td>
  <td><%= spec.color.name %></td>

  <td><%= spec.material %></td>
  <td><%= spec.memo %></td>
  <td>
    <div class="controls center">

      <%= link_to "",edit_product_spec_path(@product,spec),:class=>"icon12 icomoon-icon-pencil",:remote=>true %>
      <%= link_to "", spec, :class => "icon icomoon-icon-remove",'data-confirm' => "确定要删除吗？", :method => :delete, :title => "确定要删除吗？",:remote=>true %>

    </div>
  </td>

</tr>