<tr <%= "id='current_spec'" if spec==@current_spec %> >
  <td><%= spec.id %></td>
  <td><%= spec.bh %></td>
  <td style="background-color: <%= spec.color.value %>"></td>
  <td><%= spec.color.name %></td>

  <td><%= spec.material %></td>
  <td><%= spec.memo %></td>
  <td>
    <div class="controls center">

      <a href="<%= edit_product_spec_path(@product,spec) %>" title="" class="icon12 icomoon-icon-pencil" data-target="#edit-modal" role="button"  class="btn btn-success " data-toggle="modal">

      </a>
      <%= link_to "", spec, :class => "icon icomoon-icon-remove",'data-confirm' => "确定要删除吗？", :method => :delete, :title => "确定要删除吗？" %>

    </div>
  </td>

</tr>