<div class="contentwrapper"><!--Content wrapper-->
  <div class="heading">

    <h3>产品颜色管理</h3>

    

    <ul class="breadcrumb">
      <li>You are here:</li>
      <li>
        <a href="#" class="tip" title="back to dashboard">
          <span class="icon16 icomoon-icon-screen"></span>
        </a>
        <span class="divider">
          <span class="icon16 icomoon-icon-arrow-right"></span>
        </span>
      </li>
      <li class="active">产品颜色管理</li>
    </ul>

  </div><!-- End .heading-->

  <div class="row-fluid">
    <div class="span12">
      <%= notice_message %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>产品颜色列表</span>
            
<%#*<form action="" class="box-form right">%>
<%#*<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">%>
<%#*<span class="icon16 iconic-icon-cog"></span>%>
<%#*<span class="caret"></span>%>
<%#*</a>%>
<%#*<ul class="dropdown-menu">%>
<%#*<li><a href="#"><span class="icon-plus"></span> 增加</a></li>%>
<%#*<li><a href="#"><span class="icon-trash"></span> 删除</a></li>%>
<%#*</ul>%>
<%#*</form>%>

          </h4>
          <a class="minimize" href="#" style="display: none;">Minimize</a>
        </div>
        <div class="content noPad">
          <div style="padding: 15px;">
            <a href="#new-modal" role="button"  class="btn btn-success " data-toggle="modal">
              <span class="icon14 iconic-icon-plus white"></span>
              新增产品颜色
            </a>

            <%#*<form class="form-inline pull-right" style="padding-left:20px;">%>
              <%#*<input type="text" class="input-medium search-query">%>
              <%#*<button type="submit" class="btn">搜索</button>%>
            <%#*</form>%>

          </div>
          <table id="checkAll" class="responsive table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th colspan="2" >颜色</th>
                <th>编号</th>
                <th>名称</th>
                
<%#*<th class="ch" id="masterCh"><div class="checker" id="uniform-undefined"><span><input type="checkbox" class="styled" value="all" name="checkbox" style="opacity: 0;"></span></div></th>%>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>


              <% @colors.each do |color| %>
                <tr>
                  <td><%= color.id %></td>
                  <td style="background-color: <%= color.value %>">

                  </td>
                  <td>
                     <%= color.value %>
                  </td>
                  <td><%= color.bh %></td>
                  <td><%= color.name %></td>


  <%#*<td class="chChildren">%>
  <%#*<div class="checker" id="uniform-undefined">%>
  <%#*<span><input type="checkbox" class="styled" value="" name="checkbox" style="opacity: 0;"></span>%>
  <%#*</div>%>
  <%#*</td>%>
                  <td>
                    <div class="controls center">
                      <a class="tip" href="<%= edit_color_path(color) %>" oldtitle="Edit task" title="">
                        <span class="icon12 icomoon-icon-pencil"></span>
                      </a>
                      <%= link_to "", color, :class => "icon icomoon-icon-remove",'data-confirm' => "确定要删除吗？", :method => :delete, :title => "确定要删除吗？" %>

                    </div>
                  </td>

                </tr>
              <% end %>
            </tbody>
          </table>

          <div style="padding: 10px;">
            <%= will_paginate @colors, :inner_window => 2 %>
          </div>

        </div>

      </div><!-- End .box -->

    </div>

  </div>
</div>

<div id="new-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">新增产品颜色</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@color, :html=>{:class=>'form-horizontal'}) do |f| %>
      <% if @color.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@color.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @color.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label for="title" class="form-label span4">名称</label>
            <%= f.text_field :name,:class=>'span8 focused text' %>
          </div>
        </div>
      </div>
      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label for="bh" class="form-label span4">编号</label>
            <%= f.text_field :bh,:class=>'span8 focused text' %>
          </div>
        </div>
      </div>
      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label for="weight" class="form-label span4">颜色值</label>
            <div style="position:relative;" class="span8">
                <input type="text" value="#123456" name="color[value]" id="color" style="background-color: rgb(18, 52, 86); color: rgb(255, 255, 255);" class="text">
                <div class="picker">
                  <div class="farbtastic">
                    <div class="color" style="background-color: rgb(0, 127, 255);"></div>
                    <div class="wheel"></div>
                    <div class="overlay"></div>
                    <div class="h-marker marker" style="left: 55px; top: 170px;"></div>
                    <div class="sl-marker marker" style="left: 82px; top: 127px;"></div>
                  </div>
                </div>
                </input>
              </div>
          </div>
        </div>
      </div>
      


    </div>
    <div class="modal-footer">
      <button class="btn btn-info" type="submit">保存</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>

    </div>
  <% end %>
</div>


