<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @color.name %>
</p>

<p>
  <b>Bh:</b>
  <%= @color.bh %>
</p>

<p>
  <b>Value:</b>
  <%= @color.value %>
</p>


<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
