<div class="contentwrapper"><!--Content wrapper-->
  <div class="heading">

    <h3>库存管理</h3>

    <ul class="breadcrumb">
      <li>You are here:</li>
      <li>
        <a href="#" class="tip" title="back to dashboard">
          <span class="icon16 icomoon-icon-screen"></span>
        </a>
        <span class="divider">
          <span class="icon16 icomoon-icon-arrow-right"></span>
        </span>
      </li>
      <li class="active">库存管理</li>
    </ul>

  </div><!-- End .heading-->

  <div class="row-fluid">
    <div class="span12">
      <div id="msg" style="padding:10px;">
        <%= notice_message %>
      </div>

      <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>出库单</span>
          </h4>
        </div>
        <div class="content noPad">
          <div style="padding: 15px;" id="form">

           <%= simple_form_for(@outstock,:html=>{:class=>"form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" >
    <%= f.input :taker %>
    <%= f.input :memo ,input_html: { :rows=>2 } %>

  </div>




  <div class="form-actions">

    <button class="btn btn-info" type="submit">
      <span class="icon14 iconic-icon-plus white"></span>
      保存出库单
    </button>
  </div>
<% end %>


                    </div>
          <div style="padding: 10px;">
            <%= form_for :outstock_item, :url=>'/outstocks/find_stock',:remote=>true,:html=>{:class=>"form-inline"} do |f| %>
            <label>货号</label>
            <input type="input" name="bh"></input>
            <label>重量</label>
            <input type="input" name="weight"></input>
            <button type="submit" class="btn">添加出库条目</button>
            <% end %>
          </div>
          <table id="DataTables_Table_0" class="responsive table table-bordered ">
            <thead>
              <tr>
                
                <th>货号</th>
                <th colspan="2">颜色</th>
                <th>材料</th>

                <th>重量</th>
                <th>数量</th>
               
                
              </tr>
            </thead>
            <tbody id="outstock_items">
              
              <%#= render(@items) %>
            </tbody>
          </table>
          <div style="padding: 10px;">

          </div>
        </div>
      </div><!-- End .box -->
    </div>
  </div>
</div>

