

<div class="contentwrapper"><!--Content wrapper-->
  <div class="heading">

    <h3>零件管理</h3>

    <ul class="breadcrumb">
      <li>You are here:</li>
      <li>
        <a href="#" class="tip" title="back to dashboard">
          <span class="icon16 icomoon-icon-screen"></span>
        </a>
        <span class="divider">
          <span class="icon16 icomoon-icon-arrow-right"></span>
        </span>
      </li>
      <li class="active">零件管理</li>
    </ul>

  </div><!-- End .heading-->
  <div class="row-fluid">
    <div class="span12">
      <%= notice_message %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>修改零件</span>
          </h4>
        </div>

        <div class="content ">
          <%= simple_form_for(@product, :html=>{:class=>'form-horizontal',:multipart=>true}) do |f| %>
            <% if @product.errors.any? %>
              <div class="alert alert-block alert-error">
                <a class="close" data-dismiss='alert' href="#">×</a>
                <p><strong>有 <%= @product.errors.count %> 处问题导至无法提交:</strong></p>
                <ul>
                  <% @product.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>

            <% end %>
            <div class="row-fluid"">
                 <div class="span4">
                   <%= f.input :title %>
                   <%= f.input :bh %>
                   <%= f.input :weight %>
               
                

              </div>

              <div class="span8">

                <div class="form-row row-fluid">
                  <div class="span12">
                    <div class="row-fluid">
                      <label for="weight" class="form-label span4">备注</label>
                      <%= f.text_area :memo,:class=>'span8 uniform',:rows=>3 %>
                    </div>
                  </div>
                </div>

                <div class="form-row row-fluid">
                  <div class="span12">
                    <div class="row-fluid">
                      <label class="form-label span4">上传文件：</label>
                      <input type="file" name="product[upload_picture]" class='span4 focused text'></input>
                      <% if @product.image_url %>
                        <img src="/products/<%= @product.image_url %>" class="span4 img-polaroid " style="width:69px;height: 60px;" />
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-actions">
              <button class="btn btn-info" type="submit">保存</button>
              <a class="btn" href="<%= products_path %>">返回</a>

            </div>
          <% end %>
        </div>
      </div>

      <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>规格</span>
          </h4>
        </div>
        <div class="content noPad">
          <div style="padding: 15px;">
            <a href="#new-modal" role="button"  class="btn btn-success " data-toggle="modal">
              <span class="icon14 iconic-icon-plus white"></span>
              新增规格
            </a>

          </div>
          <table id="DataTables_Table_0" class="responsive table table-bordered ">
            <thead>
              <tr>
                <th>#</th>
                <th>货号</th>                
                <th colspan="2">颜色</th>
                <th>材料</th>
<%#*<th class="ch" id="masterCh"><div class="checker" id="uniform-undefined"><span><input type="checkbox" class="styled" value="all" name="checkbox" style="opacity: 0;"></span></div></th>%>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>


              <% @specs.each do |spec| %>
                <tr>
                  <td><%= spec.id %></td>                  
                  <td><%= spec.bh %></td>
                  <td style="background-color: <%= spec.color.value %>"></td>
                  <td><%= spec.color.name %></td>

                  <td><%= spec.material %></td>

                  <td>
                    <div class="controls center">

                      <a href="<%= edit_product_spec_path(@product,spec) %>" title="" class="icon12 icomoon-icon-pencil" data-target="#edit-modal" role="button"  class="btn btn-success " data-toggle="modal">

                      </a>
                      <%= link_to "", spec, :class => "icon icomoon-icon-remove",'data-confirm' => "确定要删除吗？", :method => :delete, :title => "确定要删除吗？" %>

                    </div>
                  </td>

                </tr>
              <% end %>
            </tbody>
          </table>
          <div style="padding: 10px;">
<%#= will_paginate @products, :inner_window => 2 %>
          </div>
        </div>

      </div><!-- End .box -->

    </div>
  </div>
</div>

<div id="new-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">新增产品规格</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@spec, :url=>product_specs_path(@product),:html=>{:class=>'form-horizontal'}) do |f| %>
      <% if @spec.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@spec.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @spec.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label for="title" class="form-label span4">名称</label>
            <%= f.text_field :name,:class=>'span8 focused text' %>
          </div>
        </div>
      </div>
      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label for="bh" class="form-label span4">货号</label>
            <%= f.text_field :bh,:class=>'span8 focused text',:readonly=>"readonly" %>
          </div>
        </div>
      </div>
      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label for="weight" class="form-label span4">颜色编号</label>
            <input id="spec_color_bh" name="spec[color_bh]" class="span8 focused text"></input>
  <%#= f.text_field :color_bh,:class=>'span8 focused text' %>
          </div>
        </div>
      </div>
      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label class="form-label span4" for="checkboxes">材料</label>
            <div class="span8 controls">
              <select name="spec[material][]" class="nostyle" multiple="multiple">
                <%= options_for_select @materials %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label for="weight" class="form-label span4">备注</label>
            <%= f.text_area :memo,:class=>'span8 uniform',:rows=>3 %>
          </div>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button class="btn btn-info" type="submit">保存</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>

    </div>
  <% end %>
</div>

<div id="edit-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">编辑产品规格</h3>
  </div>
  <div class="modal-body">
  </div>
</div>

<script type="text/javascript">
  $('body').on('hidden', '.modal', function () {
    $(this).removeData('modal');
  });
  $('#spec_color_bh').change(function(){
    $('#spec_bh').attr("value","<%= @spec.bh %>"+$(this).attr("value"));
    
  });
</script>