
<%= simple_form_for(@product, :remote=>true,:html=>{:class=>'form-horizontal',:multipart=>true}) do |f| %>
  <% if @product.errors.any? %>
    <div class="alert alert-block alert-error">
      <a class="close" data-dismiss='alert' href="#">×</a>
      <p><strong>有 <%= @product.errors.count %> 处问题导至无法提交:</strong></p>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <% end %>
  <div class="row-fluid">       
           <%= f.input :title %>
           <%= f.input :bh %>
           <%= f.input :weight %>




      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label for="weight" class="form-label span4">备注</label>
            <%= f.text_area :memo,:class=>'span8 uniform',:rows=>3 %>
          </div>
        </div>
      </div>

      <div class="form-row row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <label class="form-label span4">上传文件：</label>
            <% if @product.image_url %>
              <img src="/products/<%= @product.image_url %>" class="image marginR10 " style="width:69px;height: 60px;" />
            <% end %>
            <input type="file" name="product[upload_picture]" class='span4 focused text'></input>
            
          </div>
        </div>
      </div>
    
  </div>

  <div class="form-actions">
    <button class="btn btn-info" type="submit" onclick="$('#edit_modal').modal('hide')">保存</button>
    <a class="btn" href="<%= products_path %>" >返回</a>

  </div>
<% end %>


