
<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="span6">
    <img src="/products/<%= @product.image_url %>" class="img-polaroid" style="width:auto;height: 120px;"/>
  </div>
  <div class="span6">
    <p>
      <b>名称:</b>
      <%= @product.title %>
    </p>
    <p>
      <b>编号:</b>
      <%= @product.bh %>
    </p>
    <p>
      <b>重量:</b>
      <%= @product.weight %>
    </p>
    <p>
      <b>备注:</b>
      <%= @product.memo %>
    </p>
  </div>
</div>
<div style="padding: 10px;">
  <p>规格列表
    
  </p>
  <table id="checkAll" class="responsive table table-bordered">
    <thead>
      <tr>
        <th>#</th>        
        <th>货号</th>
        <th>名称</th>
        <th colspan="2" >颜色</th>
        <th>规格</th>
      </tr>
    </thead>
    <tbody>


      <% @product.specs.each do |spec| %>
        <tr>
          <td><%= spec.id %></td>
          <td><%= spec.bh %></td>
          <td><%= spec.name %></td>
          <td style="background-color: <%= spec.color.value %>">
          </td>
          <td>
            <%= spec.color.name %>
          </td>
          <td>
            <%= spec.material %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="spec-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">规格编辑</h3>
    </div>
    <div class="modal-body">

    </div>

  </div>


